@use '@picocss/pico/scss/pico' as pico with (
	$theme-color: 'jade'
);

@use './fonts';

$primary: #393e46;
$secondary: #948979;
$tertiary: #dfd0b8;
$main: #222831;

html {
	scroll-behavior: smooth;
}

body {
	background-color: $main;
}

section {
	padding: 1rem 0;
	margin: 0;
}

.hero .why .fun {
	background-color: $primary;
}

.about .now {
	background-color: $secondary;

	p {
		color: white;
	}

	a {
		color: #90ee90;
	}
}

.contact .skillset .toolbox {
	background-color: $tertiary;
}

.desktop-nav {
	display: block;
}

.mobile-nav {
	display: none;
}

@media (max-width: 768px) {
	.desktop-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}
}
