@use '@picocss/pico/scss/pico' as pico
	with($theme-color: 'jade', $enable-responsive-spacings: true);
@use 'sass:map';
@use './fonts';

$primary: #222831;
$secondary: #393e46;
$tertiary: #948979;
$quadiary: #dfd0b8;

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: $primary;
}

section {
	margin: 0;
	padding: 1rem 0;

	&[data-theme='dark'] {
		p {
			color: white;
		}
	}
}

.hero {
	background-color: $secondary;
}

.about {
	background-color: $tertiary;

	p {
		color: #fffaf0;
	}

	a {
		color: #90ee90;
		text-decoration-color: mediumspringgreen;
	}
}

.contact {
	background-color: $quadiary;
}

.desktop-nav {
	display: block;
}

.mobile-nav {
	display: none;
}

@mixin respond($size) {
	$breakpoint: map.get(map.get(pico.$breakpoints, $size), 'breakpoint');

	@media (max-width: $breakpoint) {
		@content;
	}
}

@include respond(sm) {
	.desktop-nav {
		display: none;
	}
	.mobile-nav {
		display: block;
	}
}
