@use '@picocss/pico/scss/pico'
	with(
		$theme-color: 'jade',
		$enable-responsive-spacings: true,
		$enable-responsive-typography: true
	);
@use '@picocss/pico/scss/colors/utilities'
	with(
		$palette: (
			'color-families': (
				jade,
				azure,
				slate,
				pumpkin,
				amber
			)
		),
		$background-colors: true
	);
@use '@picocss/pico/scss/settings' as settings;
@use 'sass:map';
@use 'sass:meta';

.desktop-nav {
	display: block;
}

.mobile-nav {
	display: none;
}

@mixin respond($size) {
	$entry: map.get(settings.$breakpoints, $size);
	$point: map.get($entry, 'breakpoint');

	@media (max-width: $point) {
		@content;
	}
}

@include respond(sm) {
	.desktop-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}
}
